@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #111827;
  --color-primary: #570df8;
  --color-primary-content: #ffffff;
  --color-secondary: #d946ef;
  --color-secondary-content: #ffffff;
  --color-accent: #37cdbe;
  --color-accent-content: #111827;
  --color-neutral: #2a323c;
  --color-neutral-content: #ffffff;
  --color-info: #3abff8;
  --color-info-content: #111827;
  --color-success: #36d399;
  --color-success-content: #111827;
  --color-warning: #fbbd23;
  --color-warning-content: #111827;
  --color-error: #f87272;
  --color-error-content: #111827;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #1d232a;
  --color-base-200: #191e24;
  --color-base-300: #15191e;
  --color-base-content: #a6adbb;
  --color-primary: #661ae6;
  --color-primary-content: #ffffff;
  --color-secondary: #d926a9;
  --color-secondary-content: #ffffff;
  --color-accent: #1fb2a5;
  --color-accent-content: #111827;
  --color-neutral: #2a323c;
  --color-neutral-content: #ffffff;
  --color-info: #3abff8;
  --color-info-content: #111827;
  --color-success: #36d399;
  --color-success-content: #111827;
  --color-warning: #fbbd23;
  --color-warning-content: #111827;
  --color-error: #f87272;
  --color-error-content: #111827;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}
